<!DOCTYPE html>
<html>
    <head>
      <script src="{{ plugin_path('DVrestTools') }}/js/jquery-3.1.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ plugin_path('DVrestTools') }}/css/base.css" />
      <link rel="shortcut icon" href="{{ plugin_path('DVrestTools') }}/images/dv.ico" type="image/x-icon" />
      <link rel="icon" href="/layout/4Plugins/img/dv.ico" type="image/x-icon" />
      {% block head %}
      {% endblock %}
    </head>
    <body>
        <div id="page-body">
            {% block PageBody %}
            {% endblock %}
        </div>
    </body>
</html>
