{% if inhalte is not null %}
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        ItemID
      </th>
      <th>
        VarID
      </th>
      <th>
        WB Netto
      </th>
    </tr>
  {% for item in inhalte %}
    <tr>
      <td>
        {{ item.itemDescription.name1 }}
      </td>
      <td>
        {{ item.itemBase.itemId }}
      </td>
      <td>
        {{ item.variationBase.id }}
      </td>
      <td>
        {{ item.variationStock.stockNet }}
      </td>
    </tr>
    {% flush %}
  {% endfor %}
  </table>
{% else %}
        Nanü
{% endif %}
