<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DV-Rest-Tools</title>
    </head>
    <body>
        <div id="page-body">
            {% block PageBody %}
            {% endblock %}
        </div>
    </body>
</html>
